body {
	margin: 0 0;
	font-family: Lucida Console, Courier New, monospace; 
    font-size: 100%;
	width: 500px;
	margin: 0 auto;
	padding: 1em;
    border: 2px solid blue;
}

---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";
